<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <style type="text/css">
  a {
    text-decoration:none;
    color:#333;
  }
  /* Table Head */
  .table-default {
    border-radius: 2px 2px 0 0;
    table-layout: auto;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
  }

  .table-default thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .table-default thead th {
    color: rgba(0,0,0,.85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
  }

  /* Column Style */
  .table-default td {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
  }
  /* Heading and Column Style */
  .table-default tr, .table-default th {
    border-bottom: 1px solid #f0f0f0;
  }

  /* Padding and font style */
  .table-default td, .table-default th {
    padding: 16px;
    font-family: Verdana;
    font-weight: bold;
  }
  </style>
</head>
<body style="margin: 0; height: 100%; background: #362d59">
  <table style="margin-top: 40px; margin-bottom: 40px; padding: 20px; border-radius: 4px; background: #fff;" align="center" border="0" cellpadding="0" cellspacing="0" width="800">
    <tr>
      <td width="140px">
        <a href={{defaultUrl}}>
          <img style="width: 100px" src={{logoSrc}} alt="LOGO">
        </a>
      </td>
      <td>
        <h2>{{{title}}}</h2>
        <p>{{{message}}}</p>
      </td>
    </tr>
  </table>
</body>
</html>
